<style>
  * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
  }

  .sensorContainer {
    max-width: 350px;
  }
</style>

<section class="card">
  <div class="card-body">
    <h1>Acerca de</h1>
    <p>
      Esta es una página que muestra sensores de un carro autónomo.
    </p>
  </div>
</section>