<script type="text/javascript">
  function loadSensors() {
    setInterval(() => {
      document.getElementById('speedSensor').innerHTML = getSensorData(60);
      document.getElementById('distanceToObstacleSensor').innerHTML = getSensorData(50);
      document.getElementById('distanceToGoal').innerHTML = getSensorData(30);
    }, 1000);
  }

  function getSensorData(multiplier) {
    return Math.round(Math.random() * multiplier);
  }

  window.onload = loadSensors();
</script>

<style>
  * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
  }

  .sensorContainer {
    max-width: 350px;
  }
</style>

<div class="jumbotron mt-4">
  <h1 class="display-4">Controlador de carro autónomo</h1>
  <p class="lead">Esta aplicación muestra los sensores entregados por los controladores de un carro autónomo.</p>

  <hr class="my-4">

  <div class="d-flex justify-content-center align-items-baseline flex-column my-3 border border border-primary rounded sensorContainer">
    <p class="mx-5">Velocidad: <span class="ml-5" id="speedSensor"></span> km/h </p>
    <p class="mx-5">D. a obstaculo: <span class="ml-3" id="distanceToObstacleSensor"></span> metros </p>
    <p class="mx-5">D. a meta: <span class="ml-5" id="distanceToGoal"></span> km </p>
  </div>

  <a
    class="btn btn-primary btn-lg"
    href="https://aws.amazon.com/education/awseducate/"
    role="button"
  >
    AWS Educate
  </a>
</div>
