<div class="jumbotron mt-4">
  <h1 class="display-4">Notes 2 stiven H Loaiza</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  <p>This app is build with containers (Docker and Docker-compose).
  </p>
  <a class="btn btn-primary btn-lg" href="https://signin.aws.amazon.com/signin?redirect_uri=https%3A%2F%2Fconsole.aws.amazon.com%2Fconsole%2Fhome%3Fnc2%3Dh_ct%26src%3Dheader-signin%26state%3DhashArgs%2523%26isauthcode%3Dtrue&client_id=arn%3Aaws%3Aiam%3A%3A015428540659%3Auser%2Fhomepage&forceMobileApp=0" role="button">Enlace AWS</a>
</div>