body {
    background: rgb(179, 221, 245);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(192, 194, 241), rgb(172, 217, 243));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(194, 197, 245), rgb(178, 217, 240)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .logo {
    width: 30%;
  }